<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YidHub</title>
    <link rel="stylesheet" href="https://unpkg.com/normalize.css" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap" crossorigin>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <header class="page-header">
        <h1 class="header__title">YidHub</h1>
        <a href="https://github.com/binyamin/yidhub" class="header__gh-link" target="_blank" aria-label="Source Code on GitHub">
            {% include ../assets/icons/mark-github.svg %}
        </a>
        <div class="header__corner" aria-label="With God's help">
            {% include ../assets/besyata-dshmaya.svg %}
        </div>
    </header>
    <main class="page-main">
        <section class="users">
            {% for user in userdata %}
                {% include user.html %}
            {% endfor %}
        </section>
        <img class="footer-flourish" src="assets/flourish.svg" alt="" width="70%">
    </main>
    <footer class="page-footer">
        <small>
            Copyright 2021 <a href="https://binyam.in" target="_blank">Binyamin Green</a>
        </small>
    </footer>
</body>
</html>