<div class="user card">
    <div class="card-section--top">
        <img src="{{user.avatar}}" alt="" width="48" class="user__img">
        <p class="user__name"><a href="https://github.com/{{user.links.github}}" target="_blank">{{user.name}}</a></p>
        <p class="user__login--github">@{{user.links.github}}</p>
        {% if user.bio %}
        <p class="user__bio">{{user.bio}}</p>
        {% endif %}
    </div>
    <div class="card-section--bottom">
        {% if user.location %}
        <div class="user-details">
            <div class="user-details__icon" aria-label="Location">
                {% include ../assets/icons/location.svg %}
            </div>
            <span class="user-details__label">{{user.location}}</span>
        </div>
        {% endif %}

        {% if user.links.site %}
        <div class="user-details">
            <div class="user-details__icon" aria-label="Website">
                {% include ../assets/icons/link.svg %}
            </div>
            <a class="user-details__label" href="{{user.links.site}}" target="_blank">{{user.links.site}}</a>
        </div>
        {% endif %}

        {% if user.links.twitter %}
        <div class="user-details">
            <div class="user-details__icon" aria-label="Twitter">
                {% include ../assets/icons/twitter.svg %}
            </div>
            <a class="user-details__label" href="https://twitter.com/{{user.links.twitter}}" target="_blank">{{user.links.twitter}}</a>
        </div>
        {% endif %}
    </div>
</div>