/* Body */
html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: Inter, Arial, Helvetica, sans-serif;
}

a:any-link {
    color: #2D9CDB;
    cursor: pointer;
    text-decoration: none;
}

a:any-link:hover {
    text-decoration: underline;
}

a:any-link svg {
    color: black;
}

a:any-link:hover svg {
    color: #444;
}

/* Header */
.page-header {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.header__title {
    flex-grow: 1;
}

.header__gh-link {
    margin-right: 24px;
    width: 36px;
}

.header__corner svg {
    width: 60px;
}

/* Main */
.page-main {
    flex-grow: 1;
    margin: 24px;
    text-align: center;
}

.footer-flourish {
    opacity: 0.3;
    margin-top: 7vw;
}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    text-align: left;
}

/* Cards */
.card {
    width: 300px;
    padding: 18px 12px;
    margin: 12px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-section--top {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr auto;
    column-gap: 8px;
}

.user__img {
    grid-row: 1 / -1;
    border-radius: 50%;
}

.user__name {
    margin: 0;
    font-weight: 700;
    font-size: 18.66px;
}

.user__name a {
    color: currentColor;
}

.user__login--github {
    margin: 0;
    color: #444;
}

.user__bio {
    margin: 8px 0 0 0;
}

.card-section--bottom {
    margin-top: 24px;
}

.user-details {
    display: inline-flex;
    align-items: center;
    font-size: 13.33px;
    color: #444;
    margin: 0 6px;
}

.user-details__icon {
    margin-right: 2px;
}

.user-details__icon svg {
    height: 16px;
    fill: currentColor;
}

/* Footer */
.page-footer {
    text-align: center;
    padding: 8px 0;
}

/* https://codepen.io/sdthornton/pen/wBZdXq */
.bxs-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.bxs-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}